<tr>
  <th scope="row"><%= index %></th>
  <td><%= user.name %></td>
  <td><%= user.lastName %></td>
  <td><%= user.company %></td>
  <td><%= user.email %></td>
</tr>

<%  if(index ===1) console.log(data); %>