<!-- Header -->
<%- include("./partials/header.ejs") %>

<!-- Navbar -->
<%- include('./partials/navbar.ejs'); %>

<br>

<table class="table container">
  <%- include('./partials/table-head.ejs'); %>

  <tbody>

    <% data.forEach(function (user, idx) { %>
        <%- include('./partials/table-body.ejs', { user: user, index: idx}); %>
    <%      }); %>
  </tbody>

</table>



<!-- Footer -->
<%- include("./partials/footer.ejs") %>